/* Style for the header */
header {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5rem; /* Adjust size of header */
    color: white;
    margin: 0;
    padding-bottom: 10px;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.8rem; /* Smaller header size for mobile */
    }
}
